
body {
    background-image: url("images/maze.png");
    background-repeat: repeat;
}
.navbar {
    border-bottom: solid #ccc 2px;
}
.navbar-light .navbar-brand  {
    background-color: #4aaaa5;
    margin:0;
    padding: 20px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mid {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 100px;
}
p {
    padding: 10px;
    padding-left: 10px;
    line-height: 1.5em;
}
.img {
    margin: 10px;
    margin-left: -5px;
}
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
  }
  
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #6e6e6e;
    height: 60px;
    width:100%;
    border-top: 4px solid #4aaaa5; 
    
  }
.btn {
      background-color: #4aaaa5;
}
.btn:hover {
    background-color: #388a86;
}
form {
    margin: 10px;
    width: 300px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding-top: 10px;
    padding-left: 5px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #4aaaa5;
    padding: 5px;
    width: 320px;
    margin: 0 auto;
}
.box-spacing {
    margin-bottom: 10px;
}
.img-responsive {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
}
.img-responsive::after {
    clear: both;
}